/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{
  flex-grow: 1;
  --main-bg-color: #121212;
  --main-text-darkmode: rgba(255,255,255,.87);
  --social-dribble: #EA4C89;
  --social-linkedin: #00A0DC;
  --social-twitter: #1DA1F2;
}

body {
  font-family: 'Raleway', sans-serif;
  background: var(--main-bg-color);
  color: var(--main-text-darkmode);
  margin: 0;
  width: 100vw;
}



a.dribble {
  color: var(--social-dribble);
}

a.linkedin {
  color: var(--social-linkedin);
}

a.twitter {
  color: var(--social-twitter);
}

a{
  color: var(--main-text-darkmode);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.nav a{
  text-decoration: none;
}

a.active{
  font-weight: 600;
  text-decoration: underline;
}


.slider-control-centerright, .slider-control-centerleft {
  display: none;
}

.paging-dot{
  border: 2px solid var(--main-bg-color);
  border-radius: 100%;
}

.wrapper{
  margin: 16px;
}

.MuiLink-underlineHover:hover{
  text-decoration: none !important;
}

@media only screen and (min-width: 600px) {
  .wrapper{
    margin: 24px;
  }
  nav{
    margin-top: 24px;
  }
}
@media only screen and (min-width: 960px) {
  .nav-grid{
    justify-content: center !important;
    max-width: 1032px;
    margin: 0 auto !important;
  }
}

/*
TYPE STYLES
*/
h1 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 96px;
  line-height: 104px;
  margin-bottom: 12px;
  /* or 108% */

  letter-spacing: -0.015em;
}
h2 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 60px;
  line-height: 64px;
  /* or 107% */

  letter-spacing: -0.005em;
}
h3 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  /* identical to box height, or 117% */
}
h4 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 12px;
  /* or 129% */

  letter-spacing: 0.0025em;
}
h5 {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 12px;
  /* or 133% */
}
h6 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  /* or 120% */

  letter-spacing: 0.0015em;
}
.subtitle1 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  letter-spacing: 0.0015em;
}
.subtitle2 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.001em;
}
.body1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.314em;
  /* or 150% */

  letter-spacing: 0.005em;
}
.body2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  letter-spacing: 0.0025em;
}
.button {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  /* identical to box height, or 114% */

  letter-spacing: 0.0125em;
  text-transform: uppercase;
}
.caption {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  letter-spacing: 0.004em;
}
.overline {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  /* or 160% */

  letter-spacing: 0.015em;
}
